<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/criar-produto.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="div-primaria">
            <img src="/img/logo2.png" alt="">
            <h1>Criar Produto</h1>
            <span>100% seguro</span>
        </div>
    <div class="div-form">
        <form action="/produtos/<%=showById.id%>/?_method=PUT" method="POST" class="form-input-create-produto">
            <span>Nome do produto</span>
            <input type="text" name="name" value="<%= showById.name %>">
            <span>Preço</span>
            <input type="number" name="price" value="<%= showById.price %>">
            <span>Marca</span>
            <input type="text" name="marca" value="<%= showById.marca %>">
            <button type="submit">Enviar</button>
        </form>
    </div>
</main>
</body>
</html>