<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="primary-div-header">
            <span>Seja um franqueado</span>
            <span>Entregas para todo o Brasil</span>
            <span>Fale conosco</span>
        </div>
        <div class="second-div-header">
        <img src="img/logo2.png" alt="Logo Loja">
        <input class="input-search" type="text">
        <div class="login-carrinho">
            <img src="img/login-img.png" alt="" srcset="">
            <img src="img/carrinho-img.png" alt="" srcset="">
        </div>
    </div>
    <div class="div-navbar">
        <nav>
            <ul>
                <li> <a href="/produtos">Tênis</a></li>
                <div class="div-style-division-navbar"></div>
                <li> <a href="">Ofertas</a></li>
                <div class="div-style-division-navbar"></div>
                <li> <a href="">Sapatos</a></li>
                <div class="div-style-division-navbar"></div>
                <li> <a href="">Masculinos</a></li>
                <div class="div-style-division-navbar"></div>
                <li> <a href="">Femininos</a></li>
                <div class="div-style-division-navbar"></div>
                <li><a href="">Marcas</a></li>
            </ul>
        </nav>
    </div>

    <div class="div-offer">
        <h2>OFERTAS</h2>
    </div>
    </header>

    <main>
        <section class="carrossel">
            <img class="seta-e" src="img/seta-esquerda.png" alt="">
            
        <img class="carrossel-img" src="img/template-carrossel.jpg" alt="" srcset="">
        <img class="seta-e" src="img/seta-direita.png" alt="">
    </section>
    </main>

    <footer>

    </footer>
</body>
</html>