<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/criar-produto.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="div-primaria">
            <img src="/img/logo2.png" alt="">
            <h1>Criar Produto</h1>
            <span>100% seguro</span>
        </div>
    <div class="div-form">
        <form action="/users/criar" method="POST" class="form-input-create-produto">
            <span>Nome</span>
            <input type="text" name="name">
            <span>e-mail</span>
            <input type="email" name="email">
            <span>senha</span>
            <input type="password" name="pwd">
            <span>confirmação de senha</span>
            <input type="password">
            <button type="submit">Enviar</button>
        </form>
    </div>
</main>
</body>
</html>